{% extends '_base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Logout</title>
{% endblock head %}

{% block main %}
    <div class="logout-container">
        <form method="post">
            {% csrf_token %}
            <input type="submit" class="log_in" value="Log out">
        </form>
    </div>
{% endblock main %}