@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
body, html {
    margin: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
}

/*Container_net*/

.container {
    display: flex;
    position: relative;
    margin: 0 auto;
    align-items: center;

    width: 100%;
    max-width: 85%;
    height: 90px;
}

/* container with part of landing*/
.container_big_block {
    display: grid;
    height: fit-content;
    width: 83%;
    grid-template-columns: auto 1fr;
    column-gap: 50px;
    justify-self: center;
}
/* big image from container*/
.box_image1 {
    height: fit-content;
}

.box_image1 img {
    width: 100%;
    height: 400px;
}
/*container with all text from landing*/
.box_with_text {
    display: grid;
    row-gap: 15px;
}
/*headline*/
.huge_t1 { 
    display: flex;

    flex-flow: row wrap;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
}
/*subheading*/
.small_t1 {
    width: 100%;
    height: fit-content;

    font-weight: 400;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #666666;


}
/*name of athor*/
.tiny_t1 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: fit-content;
}
 /* big container of popular posts*/
 .popular_posts {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
    width: 83%;
    height: fit-content;
    margin: 0 auto;
    row-gap: 20px;
    justify-items: center;
}
/*contant of post*/

.block_with_one_post {
    display: grid;
    height: fit-content;
    width: 22.2%;
    min-width: 350px;
}
/* position of text */
.text {
    display: grid;
    row-gap: 10px;
}


/*small font for headlines in popular posts*/
.small_t {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

}
/*tiny font for name of athors*/
.tiny_t {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;

    }

/*container_big_block and popular posts*/
.all {
    display: grid;
    row-gap: 100px;
}
/*hr*/
.delimiter {
    display: grid;
    margin: 0 auto;
    width: 84%;
    justify-content: center;
    border-bottom: 1px solid #E6E6E6;
}
/*big container of latest posts*/
.latest_post {
    display: flex;

    flex-flow: row wrap;

    width: 83%;
    height: min-content;
    justify-content: center;
    align-items: center;

    justify-self: center;

}
/*one post in big container of latest posts*/
.second_block_with_one_post {
    display: grid;
    height: 389px;
    width: 30.1%;

}
/*more smaller font for headlines in latest post */
.small_2t {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.button {
    margin: 0 auto;
    width: 17.4%;
    height: 54px;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px solid black;
}

.big_container_of_featured_posts{
    display: grid;
    width: 78%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    grid-template-columns:repeat(2,auto);
    grid-template-rows: repeat(2,auto) ;

    justify-content: space-evenly;
}

.third__block_with_one_post {
    display: grid;
    height: 530px;
    width: 64.1%;
}

.follow_us {
    display: grid;
    height: 129px;
    width: 33.3%;
}

.groups_with_information {
    display: grid;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    width:88.8%;
    height: 129px;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
}

.template {
    display: grid;
    width: 33.3%;
    height: 129px;

}

.information_and_template {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
}


@media screen and (max-width:1600px) {
    .box_image1{
        object-fit: cover;
    }

    
}

/* medias */

@media (max-width: 1350px) {
    .latest_post {
        display: none;
    }

    .button {
        display: none;
    }

    .delimiter {
        display: none;
    }

    .big_container_of_featured_posts {
        display: none;
    }

    .popular_posts {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
        width: 83%;
        height: fit-content;
        margin: 0 auto;
        row-gap: 20px;
    }

    .block_with_one_post {
        width: min-content;
    }
}

@media (max-width: 1050px) {
    .container_big_block{
        grid-template-columns: none;
        
        text-align: center;
    }

    .container_big_block .box_image1 {
        display: none
    }

    .huge_t1 {
        font-size: 36px;
        justify-content: center;
    }
}


@media (max-width: 410px) {
    .container_big_block {
        height: fit-content;
    }
    .tiny_t1 {
        margin-top: 25px;
    }
    .block_with_one_post {
        display: flex;
        flex-flow: column wrap;

        min-width: 0px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 40px;
        justify-content: center;
    }
    .block_with_one_post img {
        height: fit-content;
    }
    .box_image1 {
        min-width: 200px;
        width: 250px;
    }

    .popular_posts {
        display: grid;
        grid-template-columns: none;
        width: 95%;
        height: fit-content;
        margin-bottom: 40px;
        justify-items: center;
    }
}
