.profile__header {
    display: grid;
    
    height: fit-content;

    border-radius: 21px;

    grid-template-rows: auto 28.39%;
}

.container {
    justify-self: center;
    white-space: normal;

    width: 80.83%;
}

.profile-background {
    display: grid;

    object-fit: fill;

    max-height: 400px;

    border-radius: 21px 21px 0px 0px;
}

.image__backgound {
    object-fit: fill;
    max-height: 400px;
    width: 100%;
    z-index: -1;
}

.profile-preview-content {
    display: grid;

    height: 150px;

    background-color: #25211A;
    
    border-radius: 0px 0px 21px 21px;

    grid-template-columns: 246px auto 35.51%;

    padding-bottom: 20px;
}

.profile-avatar-block {
    position: relative;
    width: fit-content;
}

.avatar {

    width: 174px;
    height: 174px;

    margin-top: -83px;
    margin-left: 67px;

    border: 5px solid #25211A;
    border-radius: 100%;
}

.profile-title {
    padding-top: 23px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    
    color: #FFFFFF;
}

.profile-title-name {
    font-size: 27px;
    line-height: 24px;

    text-transform: uppercase;
}

.profile-title-status {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.profile-button-container {
    display: grid;

    max-width: 100%;

    align-content: center;
}

.button__in-common {
    height: 47px;
    /* min-width: 154px;
    max-width: 200px; */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    padding: 0 auto;
    
    color: #FFFFFF;

    background: #363026;
    border: 2px solid #363026;
    border-radius: 9px;
}

@media (max-width: 960px) {
    .profile__header {
        width: 90%;
        grid-template-rows: 200px 1fr;
    }

    .profile-preview-content {
        height: max-content;
        grid-template-columns: none;
    }
    
    .profile-avatar-block {
        display: grid;
        width: 100%;
        height: fit-content;
        justify-content: center;
    }

    .avatar {
        margin-left: auto;
        margin-right: auto;
    }

    .profile-title {
        justify-self: center;
        margin-top: -20px;
    }

    .profile-title-status {
        
        margin: 0 auto;
    }
    
    .profile-title-name {
        display: flex;
        flex-flow: row wrap;

        width: min-content;

        margin: 0 auto;

        text-align: center;

        font-size: 17px;
        line-height: 17px;
    }

    .profile-button-container {
        justify-self: center;
        margin-bottom: 20px;
    }
}
