@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
body {
    margin: 0;
}
/*Header*/

.header {
    left: 0px;
    top: 0px;

    height: 90px;
    width: auto;
    border-radius: 0px;
    border: 1px solid #e0dbdbdc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container_net*/

#id_avatar {
    opacity: 0;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}
#id_background {
    opacity: 0;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}


.photo__placeholder {
    position: absolute;

    margin-left: 5px;

    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: start;
    align-self: center;
    color: rgba(0, 0, 0, 0.7);
}


.container {
    display: flex;
    position: relative;
    margin: 0 auto;
    align-items: center;

    width: 100%;
    max-width: 85%;
    height: 90px;
}

.big_block_registration{
    display: flex;

    flex-flow: column wrap;

    width: 600px;
    /* height: 36.5%; */

    margin: 120px auto;

    row-gap: 25px;
}

.big_block_registration__structure{
    display: grid;
    width: fit-content;
    max-width: 600px;
    height: max-content;
    margin: 0 auto;

    row-gap: 25px;

}
.create{
    display: grid;
    padding: 20px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 3px;
    cursor: pointer;

    width: 100%;

}

.button_create{
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

.delimiter{
    display: grid;
    width: 20px;
    height: 24px;
    margin: 0 auto;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.sign-input{
    display: grid;

    position: relative;

    max-width: 100%;
    margin-bottom: 20px;

    width: 100%;
    height: 68px;

    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    border: 2px solid #000000;
    border-radius: 3px;

    text-align: center;
}

.log_in{
    display: grid;
    padding: 19px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background: #25211A;
    color: white;
    border: 2px solid #000000;
    border-radius: 3px;
    cursor: pointer;

    width: 100%;
}

.button_log_in{
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

.res_pass a{
    display: grid;
    text-decoration: none;
    color: black;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.logout-container {
    display: flex;

    width: 300px;

    flex-flow: column wrap;
    justify-content: center;
    text-align: center;

    margin: 50px auto;

    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}


@media (max-width: 700px) {
    .big_block_registration {
        width: 90%;
    }
}
