{% load static %}

<footer>
    <div class="block_footer">
        <div class="block_for_content">
            <img src={% static "images/noiceland-logo-white.png" %}>
    
            <div class="delimiter"></div>

            <div class="block_footer___block_for_content-all">
                
                <div class="information">
                    <div class="called">Follow us</div>
                    <div class="groups_of_template">
                        <div class="group">
                            <p>instagram</p>
                        </div>
                        <div class="group">
                            <p>facebook</p>
                        </div>
                        <div class="group">
                            <p>twitter</p>
                        </div>

                    </div>
                </div>
        
            
                <div class="information">
                    <div class="called">Information</div>
                    <div class="groups_of_template">
                        <div class="group">
                            <p>about</p>
                        </div>

                        <div class="group">
                            <p>contact</p>
                        </div>

                        <div class="group">
                            <p>terms</p>
                        </div>
                    </div>
                </div>

                <div class="information">
                    <div class="called">Template</div>
                    <div class="groups_of_template">
                        <div class="group">
                            <p>Image License Info</p>
                        </div>

                        <div class="group">
                            <p>Powered by Webflow</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>