.block_footer {
    display: grid;
    width: 100%;
    height: 617px;
    background-color:  #120900;
    justify-content: center;
    align-items: center;
}

.block_for_content .img{
    display: grid;
    width: 11.25%;
    height: 17px;
}

.block_for_content {
    display: grid;
    width: 150%;
    height: fit-content;
    justify-self: center;
    row-gap: 20px;
}

.block_for_content .delimiter {
    display: grid;
    width: 100%;
}

.block_footer___block_for_content-all{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-self: center;
    width: max-content;
    height: max-content;
}

.information {
    display: grid;
    width: fit-content;
    height: fit-content;
}

.called {
    display: grid;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}

.groups_of_template {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    width: fit-content;
    height: min-content;
    max-height: min-content;
    min-height: min-content;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
}

.groups_of_template .group p {
    width: 137.85px;
}

.group  p {
    display: grid;
    height: 24px;
    width: 129px;
}

@media (max-width: 440px) {
    .block_footer___block_for_content-all {
        display: flex;
        max-width: 90%;
        width: 90%;
        grid-template-columns: none;
        flex-flow: row wrap;
    }
}

@media (max-width: 732px) {
    .block_for_content {
        width: 93%;
    }
}