.header {
    left: 0px;
    top: 0px;

    height: 90px;
    width: 100%;
    border-radius: 0px;
}

.header__inner {
    display: inline-flex;
}

.header__sub {
    display: none;
}

.nav {
    display: inline-flex;
    margin-left: auto; 
    
    right: 0px;
    z-index: 1000;
}

.nav a {
    display: inline-flex;
    margin-left: 1000px;
    vertical-align: top;
    margin: 0 39.61px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: black;
} 


@media (max-width: 920px) {
    div.nav:nth-child(2){
        display: none;
    }
    .header__sub {
        display: grid;
        justify-content: center;
    }
    .header__inner {
        margin: 0 auto;
    }
    .header {
        height: fit-content;
        margin-bottom: 40px;
    }

    .nav a {
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0 15px;
        font-size: 17px;
    }

    html body header.header div.header__sub div.nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}
